In [87]:
import pandas as pd
import numpy as np

In [88]:
df = pd.read_csv("subdata.csv")
df

                                                     text     emotion
0                                         That game hurt.     sadness
1          You do right, if you don't care then fuck 'em!     neutral
2                                      Man I love reddit.        love
3       [NAME] was nowhere near them, he was by the Fa...     neutral
4       Right? Considering it’s such an important docu...   gratitude
...                                                   ...         ...
207809  Well, I'm glad you're out of all that now. How...         joy
207810                             Everyone likes [NAME].        love
207811  Well when you’ve imported about a gazillion of...      caring
207812                                 That looks amazing  admiration
207813  The FDA has plenty to criticize. But like here...       anger

[207814 rows x 2 columns]

In [89]:
df.isna().sum()

text       0
emotion    0
dtype: int64

In [90]:
df.isnull().sum()

text       0
emotion    0
dtype: int64

In [91]:
df['emotion'].value_counts()

neutral           55298
approval          12844
admiration        10531
disapproval        9867
gratitude          9805
annoyance          9632
realization        8175
optimism           7947
love               7622
curiosity          7541
joy                6778
sadness            6691
amusement          6408
disappointment     5919
confusion          5553
surprise           5514
anger              5288
disgust            4538
caring             4136
excitement         3909
desire             2747
remorse            2305
fear               2299
embarrassment      1981
nervousness        1529
relief             1249
pride              1241
grief               467
Name: emotion, dtype: int64

In [92]:
remove_emotion = ['approval','disapproval','annoyance','confusion','caring','desire','embarrassment','nervousness','relief','pride','grief','disappointment','disgust']
for i in remove_emotion:
    df[df['emotion']==i]=None
df = df.dropna()
df['emotion'].value_counts()

neutral        55298
admiration     10531
gratitude       9805
realization     8175
optimism        7947
love            7622
curiosity       7541
joy             6778
sadness         6691
amusement       6408
surprise        5514
anger           5288
excitement      3909
remorse         2305
fear            2299
Name: emotion, dtype: int64

In [93]:
l = df['emotion'].unique()
new_df = pd.DataFrame()
for i in l:
    temp = df[df['emotion']==i].sample(n=2299,random_state=42)
    new_df = pd.concat([new_df,temp],axis=0)
new_df['emotion'].value_counts()

sadness        2299
neutral        2299
love           2299
gratitude      2299
amusement      2299
realization    2299
admiration     2299
optimism       2299
excitement     2299
remorse        2299
curiosity      2299
joy            2299
surprise       2299
anger          2299
fear           2299
Name: emotion, dtype: int64

In [94]:
new_df

                                                     text  emotion
7551    True. You always gotta be careful. It's pretty...  sadness
106980  She might just be bitter over her own relation...  sadness
189674  >he definitely doesn't value my pleasure this ...  sadness
92291   You lost everything. So sad. Lots of lies from...  sadness
148768                                   we can only hope  sadness
...                                                   ...      ...
146768                                 I was petrified...     fear
97455   That sounds like it was an absolute nightmare,...     fear
100137  I feel like I got lured into a fever dream by ...     fear
114546  Well she mostly horrible when she was drunk, s...     fear
78658   They start as needy creeps and work their way ...     fear

[34485 rows x 2 columns]

In [95]:
X = new_df['text']
y = new_df['emotion']

In [96]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [97]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [98]:
vec = TfidfVectorizer()
X_train_vec = vec.fit_transform(X_train)
X_test_vec = vec.transform(X_test)

In [99]:
model = MultinomialNB()
model.fit(X_train_vec,y_train)

MultinomialNB()

In [100]:
y_pred = model.predict(X_test_vec)

In [101]:
from sklearn.metrics import accuracy_score

In [102]:
accuracy_score(y_test,y_pred)

0.4353747473859942

In [104]:
model.predict(vec.transform((input("Enter text: "),)))[0]

Enter text: I'm feeeling lonely

'sadness'